<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Demo Layout</title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
	{{{_sections.css}}}
</head>
<body>
	<div class="container">
		<!--menu ngang-->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#" style="padding-top: 10px; padding-bottom: 10px;">
		      	<img src="brand.png" alt="placeholder+image" style="width: 100px;">
		      </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">HOME <span class="sr-only">(current)</span></a></li>
		        <li><a href="#">ABOUT</a></li>
		        <li><a href="#">PHONE</a></li>
		        <li><a href="#">TABLET</a></li>
		      </ul>
		      <form class="navbar-form navbar-left">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Search</button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		      	{{#if layoutVM.isLogged}}
		      	<form id="frmLogout" method="post" action="/account/logout"></form>
		        <li><a href="#">
		        	<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
		        </a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>{{layoutVM.curUser.fullname}}</b> <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Profile</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a id="lnkLogout" href="javascript:;">Logout</a></li>
		          </ul>
		        </li>
		        {{else}}
		        <li><a href="/account/login">
		        	LOGIN
		        </a></li>
		        <li><a href="/account/register">
		        	REGISTER
		        </a></li>
		        {{/if}}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3">
				{{#if layoutVM.curUser.isAdmin}}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">ADMIN</h3>
					</div>
					<div class="list-group">
						<a href="#" class="list-group-item">Product</a>
						<a href="#" class="list-group-item">User</a>
						<a href="#" class="list-group-item">...</a>
						<a href="#" class="list-group-item">...</a>
						<a href="#" class="list-group-item">...</a>
					</div>
				</div>
				{{else}}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">PHONE</h3>
					</div>
					<div class="list-group">
						<a href="#" class="list-group-item">Apple</a>
						<a href="#" class="list-group-item">Samsung</a>
						<a href="#" class="list-group-item">OPPO</a>
						<a href="#" class="list-group-item">Asus</a>
						<a href="#" class="list-group-item">Tất cả</a>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">TABLET</h3>
					</div>
					<div class="list-group">
						<a href="#" class="list-group-item">Apple</a>
						<a href="#" class="list-group-item">Samsung</a>
						<a href="#" class="list-group-item">Lenovo</a>
						<a href="#" class="list-group-item">Mobell</a>
						<a href="#" class="list-group-item">Tất cả</a>
					</div>
				</div>
				{{/if}}

			</div>
			<div class="col-sm-9 col-md-9 col-lg-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{{_sections.title}}}
						</h3>
					</div>
					<div class="panel-body">
						{{{body}}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$('#lnkLogout').on('click', function() {
			$('#frmLogout').submit();
		});
	</script>
	{{{_sections.js}}}
</body>
</html>