{{#section 'title'}}
 Dashboard - Products 
{{/section}} 

<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Tên</th>
			<th>Loại</th>
			<th>Hiệu</th>
			<th>Chi tiết</th>
			<th>Giá</th>
			<th>ngày ra mắt</th>
			<th>lượt mua</th>
			<th>lượt xem</th>
			<th>Còn</th>
			<th class="col-md-1">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{#each products}}
		<tr>
			<td>{{pro_id}}</td>
			<td>{{pro_name}}</td>
			<td>{{catID}}</td>
			<td>{{bra_id}}</td>
			<td><ul>
				<li>màn hình: {{ManHinh}}</li>
				<li>hệ điều hành: {{HDH}}</li>
				<li>camera trước: {{Cam_tr}}</li>
				<li>camera sau: {{Cam_s}}</li>
				<li>CPU: {{CPU}}</li>
				<li>Ram: {{Ram}}</li>
				<li>bộ nhớ trong: {{Memory}}</li>
				<li>thẻ nhớ: {{Sim}}</li>
				<li>dung lượng pin: {{Pin}}</li>
			</ul></td>
			<td>{{pro_cost}}</td>
			<td>{{pro_date}}</td>
			<td>{{pro_sell}}</td>
			<td>{{Pro_view}}</td>
			<td>{{quantity}}</td>
			<td class="text-right">
				<a class="btn btn-danger btn-xs" href="/product/delete?id={{pro_id}}" role="button">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
				<a class="btn btn-primary btn-xs" href="/product/edit?id={{pro_id}}" role="button">
					<span class="glyphicon glyphicon-wrench"></span>
				</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<a class="btn btn-large btn-block btn-primary" href="/product/add" role="button">
	<span class="glyphicon glyphicon-plus"></span>
	Thêm sản phẩm mới
</a>
